{
  "conection": {
    "host": "host",
    "port": "port",
    "database": "database",
    "user": "username",
    "password": "password"
  },
  "conectionAuth": {
    "database" : "authentication_database"
  }
}
